:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: #111827;
  background: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  min-width: 320px;
  background: #f9fafb;
}

#root {
  min-height: 100svh;
}

p {
  margin: 0;
}

button,
input {
  font: inherit;
}
