@import "tailwindcss";

@theme {
  /* GAMA Premium Light Theme */
  --color-background: #F9FAFB;
  --color-primary: #D97706;
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: #111827;
  /* text-gray-900 */
  -webkit-font-smoothing: antialiased;
}